services:
  vault:
    restart: unless-stopped
    container_name: vault
    image: hashicorp/vault:latest
    hostname: vault
    environment:
      - VAULT_DEV=true  # Enable dev mode for testing (insecure, use only for testing)
      # - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200 # Removed to avoid conflict with VAULT_LOCAL_CONFIG
      - VAULT_DEV_ROOT_TOKEN_ID=root
      - VAULT_API_ADDR=http://localhost:8200
      - VAULT_LOG_LEVEL=debug  # Enable verbose logging
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VAULT_DEFAULT_LEASE_TTL=168h
      - VAULT_MAX_LEASE_TTL=720h
      - 'VAULT_LOCAL_CONFIG={"listener": [{"tcp": {"address": "0.0.0.0:8200", "tls_disable": 1, "max_request_size": 52428800}}]}'
    networks:
      - saltbox
    labels:
      com.github.saltbox.saltbox_managed: true                                   
    volumes:
      - /etc/localtime:/etc/localtime:ro

  wrap:
    container_name: wrap
    hostname: wrap
    image: ghcr.io/rka/vault-wrapper/vault-data-wrapper:latest
    pull_policy: always
    environment:
      - VAULT_ADDR=http://vault:8200 # Or your Vault address
      - VAULT_TOKEN=root # Or your Vault token
      - GITHUB_URL=https://github.com/rka/vault-wrapper
      - MAX_REQUEST_SIZE=5242880 # 5MB
    labels:
      com.github.saltbox.saltbox_managed: true
      traefik.enable: true
      traefik.http.routers.wrap-http.entrypoints: web
      traefik.http.routers.wrap-http.middlewares: globalHeaders@file,redirect-to-https@docker,robotHeaders@file,crowdsec@docker
      traefik.http.routers.wrap-http.rule: Host(`wrap.rkaa.tech`)
      traefik.http.routers.wrap-http.service: wrap
      traefik.http.routers.wrap.entrypoints: websecure
      traefik.http.routers.wrap.middlewares: globalHeaders@file,secureHeaders@file,robotHeaders@file,crowdsec@docker
      traefik.http.routers.wrap.rule: Host(`wrap.rkaa.tech`)
      traefik.http.routers.wrap.service: wrap
      traefik.http.routers.wrap.tls.certresolver: httpresolver
      traefik.http.routers.wrap.tls.options: securetls@file
      traefik.http.services.wrap.loadbalancer.server.port: 3001
    depends_on:
      - vault
    networks:
      - saltbox

networks:
  saltbox:
    external: true